@media screen and (max-width: 1024px) {
  .main-content {
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "two three four"
      "one three five"
      "one six five"
      "seven six eight";
  }
}

@media screen and (max-width: 768px) {
  .main-subtitle {
    grid-template-columns: repeat(3, auto);
    row-gap: 8px;
  }

  .main-content {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(200px, 250px));
    grid-template-areas:
      "one two"
      "one three"
      "four three"
      "five seven"
      "five six"
      "eight six";
  }

  nav {
    gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  header {
    align-content: flex-start;
    background-size: cover;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  nav {
    gap: 10px;
  }

  .header-title {
    font-size: 30pt;
    font-weight: bold;
  }

  .header-subtitle {
    font-size: 12pt;
  }

  .header-intro {
    font-size: 10pt;
    margin-top: 30px;
  }

  nav a {
    font-size: 13pt;
  }

  .main-title {
    font-size: 20pt;
  }

  .main-subtitle {
    align-content: center;
    font-size: 10pt;
  }

  .main-content {
    grid-template-rows: repeat(auto-fill, minmax(100px, 150px));
  }
}

/* Styling for screens smaller than 1024px */
@media screen and (max-width: 1024px) {
  .main-content {
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "two three four"
      "one three five"
      "one six five"
      "seven six eight";
  }
}

/* Styling for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .main-subtitle {
    grid-template-columns: repeat(3, auto);
    row-gap: 8px;
  }

  .main-content {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(200px, 250px));
    grid-template-areas:
      "one two"
      "one three"
      "four three"
      "five seven"
      "five six"
      "eight six";
  }

  nav {
    gap: 30px;
  }
}

/* Styling for screens smaller than 500px */
@media screen and (max-width: 500px) {
  header {
    align-content: flex-start;
    background-size: cover;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  nav {
    gap: 10px;
  }

  .header-title {
    font-size: 30pt;
    font-weight: bold;
  }

  .header-subtitle {
    font-size: 12pt;
  }

  .header-intro {
    font-size: 10pt;
    margin-top: 30px;
  }

  nav a {
    font-size: 13pt;
  }

  .main-title {
    font-size: 20pt;
  }

  .main-subtitle {
    align-content: center;
    font-size: 10pt;
  }

  .main-content {
    grid-template-rows: repeat(auto-fill, minmax(100px, 150px));
  }
}
